body {
  background: rgb(131,58,180);
background: linear-gradient(3deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-family: Helvetica, sans-serif, sans-serif;
  margin: 0;
}

.c-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.c-login__box {
  height: auto;
  padding: 30px 20px;
  width: 300px;
}

.c-login__box h2 {
  color: #ffffff;
  font-size: 36px;
  text-align: left;
  margin: 0 0 20px;
  margin-bottom: 50px;
}

h2:after {
  content: '';
  background-color: #fff;
  width: 40px;
  height: 7px;
  display: block;
  margin-top: 20px;
  border-radius: 100px;
}

.c-login__box button {
  background: white;
  border-radius: 100px;
  border: solid 1px #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 40px;
  width: 100%;
  margin-top: 30px;
}

.c-login__box button:hover {
  transition: 0.2s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

.c-login__input-holder {
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.c-login__input-holder label {
  color: #fff;
  font-size: 16px;
}

.c-login__input-holder input {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 5px;
  color: #fff;
}

.c-login__input-holder input:focus {
  outline: none;
  border: solid 2px #000;
}

button:focus {
  outline: none;
}
